{% extends 'auctions/layout.html' %}

{% block title %}
    Categories
{% endblock %}

{% block body %}
    <h2>Categories</h2>
    {% for item in categories_id %}
        {% for category in categories %}
            {% if category.id == item.category %}
                <h4>{{ category.category }}</h4>
                {% for listing in listings %}
                    {% if listing.category.id == category.id%}
                        <a href="/listings/{{ listing.id }}">{{ listing.title }}</a> <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}