{% extends 'auctions/layout.html' %}

{% block title %}
    My Listings
{% endblock %}

{% block body %}
    <h2>My Listings</h2>

    {% for listing in my_listings %}
        <div class="container ml-0 border mb-2 py-2">
            <div class="row">
                <div class="col align-self-center">
                    <a class='lead' href="{% url 'auctions:listings' listing.id %}">{{ listing.title }}</a>
                </div>
                <div class="col align-self-center">
                    {% if listing.bids.last %}
                    <p class="d-inline lead">Price:</p><p class="d-inline lead"> ${{ listing.bids.last.bid_price }} </p>
                    {% else %}
                    <p class="d-inline lead">Price:</p><p class="d-inline lead"> ${{ listing.start_price }} </p>
                    {% endif %}
                </div>
                
                <div class="col-2 align-self-center">
                    <p class="d-inline lead">Bids: {{ listing.bids.count }}</p>
                </div>

                <div class="col align-self-center">
                    <a class="btn btn-link" href="{% url 'auctions:edit_listing' listing.id %}">Edit</a>
                    <a class="btn btn-link" href="{% url 'auctions:close_listing' listing.id %}">Delete</a>
                    {% if listing.closed %}
                    <p class="btn btn-link d-inline inactive">Closed</p>
                    {% else %}
                    <a class="btn btn-link" href="{% url 'auctions:close_listing' listing.id %}">Close</a>
                    {% endif %}

                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}